{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}资产管理系统{% endblock %}</title>
    <!-- 引入Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入自定义的CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'assets:asset_list' %}">资产管理系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assets:asset_list' %}">资产列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assets:asset_create' %}">添加新资产</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assets:asset_log_list' %}">资产日志</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assets:asset_report' %}">资产报表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assets:software_license_list' %}">软件许可证</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- 引入jQuery和Bootstrap JS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
